alias nvim='nvim -c ":lua Palette()"'
alias gosrc='cd ~/go/src'
alias convim='cd ~/.config/nvim && nvim .'
alias learn='cd ~/go/src/learn/go'
alias cpp='g++ -o main.cpp && ./main'
alias kuliah='cd ~/code/algo-lanjut'
alias maria='mariadb -u root -p'
alias postman='cd ~/Downloads/Postman && ./Postman'
alias dot='/usr/bin/git --git-dir=/home/yoda/.dotfiles/ --work-tree=/home/yoda'
alias agent='eval "$(ssh-agent -s)" && ssh-add ~/.ssh/id_ed25519'
alias grind='cd ~/grind'
alias peler='go run *.go'
alias update-grub='sudo grub-mkconfig -o /boot/grub/grub.cfg'
alias br='brightnessctl s'
alias apdet='sudo pacman -Syu'
alias pps='cd ~/PERPUSTAKON'
alias ppspush='git push git@github.com:chaaaeeee/PERPUSTAKON.git main'
alias ppsapp='cd ~/perpustakaan-app && nvim .'
alias jsrun='npm run dev'
alias air='~/go/bin/air'
